<!DOCTYPE html>
<html ng-app="EscudoApp">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Test Escudo" link rel="stylesheet" href="main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script type="text/javascript" src="activityList.js"></script>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" type="text/css" href="activityList.css">
    </head>
    <body style="background-color: #F5F5F6">
        <nav style="background-color: #84AD39">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="sass.html">Actividades</a></li>
                    <li><a href="badges.html">Premios</a></li>
                    <li><a href="#" style="background-color: #FFA000">10000 pts</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <div ng-controller="activityListController as activityList">
            <div class="row">
                <!--Esto es lo que les interesa-->
                <div ng-repeat="activity in activityList.activitys" id="activityList.activityDescription">
                    <div class="col m8 offset-m2">
                        <div class="card-panel teal texto-tarjeta center" style="height: 143px">
                            <br>
                            <span class="white-text" style="font-size: 30px">{{activity.description}}</span>
                            <!--[ <a class="tooltip" href="" ng-click="activityList.delete(activity)">X
                            <span class="tooltiptext">Delete Entry</span></a> ]-->
                        </div>
                    </div>
                </div>
                <!--FIN-->
            </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minifiedJavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    </body>
</html>
