.texto-tarjeta {
    background-image: url(mini_paisaje.png)
}

.changeButton {
    background-color: #01579b;
}

.left_panel {
    background-color: #212121;
}

.right_panel {
    background-color: #fff;
}

.change_button {
    margin-bottom: 10%;
    background-color: #01579b;
}

.loginButton {
    background-color: #01579b;
}

.menuButton {
    background-color: #212121;
}

.editButton:hover {
    background-color: #212121;
}

.editButton {
    background-color: #01579b;
}

.heightCard {
    height: 250px;
}

.titleCardStyle {
    color: white;
    font-size: 20px;
}

.textCardStyle {
    color: white;
}

.imgSize {
    height: 80%;
    width: 80%;
}

.btnPadding{
    padding-top: 10%;
}