.teal {
	background-color: #71758A !important;
}

.card-panel {
	border-radius: 5px;
	text-align: center;
	padding: 15px;
}

.white-text {
	font-size: 20px;
}

img{
    height: 100px;
    width: 80px;
}